<div>
  <h2 id="page-heading" data-cy="InventoryItemHeading">
    <span jhiTranslate="swmsApp.inventoryItem.home.title">Inventory Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="swmsApp.inventoryItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inventory-item"
        [routerLink]="['/inventory-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="swmsApp.inventoryItem.home.createLabel">Create a new Inventory Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (inventoryItems().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="swmsApp.inventoryItem.home.notFound">No Inventory Items found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="swmsApp.inventoryItem.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="swmsApp.inventoryItem.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="product.id">
              <div class="d-flex">
                <span jhiTranslate="swmsApp.inventoryItem.product">Product</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location.id">
              <div class="d-flex">
                <span jhiTranslate="swmsApp.inventoryItem.location">Location</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (inventoryItem of inventoryItems(); track trackId(inventoryItem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/inventory-item', inventoryItem.id, 'view']">{{ inventoryItem.id }}</a>
              </td>
              <td>{{ inventoryItem.quantity }}</td>
              <td>{{ inventoryItem.lastUpdated | formatMediumDatetime }}</td>
              <td>
                @if (inventoryItem.product) {
                  <div>
                    <a [routerLink]="['/product', inventoryItem.product.id, 'view']">{{ inventoryItem.product.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (inventoryItem.location) {
                  <div>
                    <a [routerLink]="['/warehouse-location', inventoryItem.location.id, 'view']">{{ inventoryItem.location.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/inventory-item', inventoryItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/inventory-item', inventoryItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(inventoryItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (inventoryItems().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
